API_KEY=""
BASE_URL="https://api.z.ai/api/coding/paas/v4"
MODEL="glm-5.2"
SKILLS_RELATIVE=".agents/skills/playwright-cli/SKILL.md,.agents/skills/playwright-cli/core-commands.md"
PROMPTS_RELATIVE="/prompts"
TARGET_AQA_PATHS=["/home/intrech/Desktop/prjs/e2e-ai-engine/src", "/home/intrech/Desktop/prjs/e2e-ai-engine/tests"]
RAG_CHUNK_SIZE = "2000"
RAG_CHUNK_OVERLAP = "200"
RAG_BUTCH_SIZE = "30"
RAG_OLLAMA_MODEL = "nomic-embed-text"
RAG_OLLAMA_BASE_URL = "http://localhost:11434"
